.button {
  padding: 12px 24px;

  font-weight: 400;
  font-size: 14px;

  border: 2px solid transparent;
  outline: transparent;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease,
    transform 0.2s ease;
  cursor: pointer;
}
.screw {
  border-top-left-radius: 24px;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 44px;
}

.normal {
  border-radius: 6px;
}

.primary {
  background: var(--main-green);
}

.secondary {
  background: var(--main-green);
}

.empty {
  border: 2px solid var(--main-text-color);
  background: transparent;
}

.button svg {
  stroke: currentColor;
  fill: none;
}

.button:disabled,
.button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.primary:active,
.empty:active {
  transform: scale(0.95);
}

.primary:focus-visible {
  background: transparent;
  color: var(--main-green);
  border: 2px solid var(--main-green);
}
.empty:focus-visible {
  color: var(--main-green);
  border: 2px solid var(--main-green);
}

@media (min-width: 768px) {
  .button {
    padding: 22px 44px;
    font-size: 16px;
  }
}

@media (hover: hover) {
  .primary:hover {
    background: transparent;
    color: var(--main-green);
    border: 2px solid var(--main-green);
  }
  .empty:hover {
    color: var(--main-green);
    border: 2px solid var(--main-green);
  }
}
