:root {
  /* dark theme */
  --font-poppins: "Poppins", sans-serif;
  --main-green: #8baa36;
  --main-text-color: #fafafa;
  --main-dark-bg: #1e1f28;
  --main-light-bg: #2a2c36;
  --main-gray-color: #d9d9d9;

  /* light theme */
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: var(--font-poppins), sans-serif;
  color: var(--main-text-color);
  letter-spacing: -0.02em;
}
main {
  flex: 1;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-poppins), sans-serif;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 100px;
  }
}
